
# App config
moteur.config.ts
data/projects
data/users.json

packages/*/dist/
packages/*/node_modules
packages/*/tsconfig.tsbuildinfo

# Node and npm
/node_modules/
/dist/
/build/
/html/
/coverage/
.env


# OS and other
.DS_Store

# Editor files
.idea/
.vscode/
